body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: #e49ad7;
}
input, button, select {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

body.dark {
  background-color: #520755;
  color: #b366a6;
}

/* body.light {
  background-color: #b366a6;
  color: #b366a6 ;
} */